#thedeletebtn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

#thedeletebtn:hover {
    color: purple;
  }

.rowcell {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.9rem;
}

