/* green color:  */
:root {
  --font: 'Ubuntu', sans-serif;
  --fontsize: 1.2rem;
}

#div {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  flex-basis: center;
  padding: 2rem 0rem 2rem 1rem;
  margin-bottom: 0px;
  height: 70px;
  background-color: rgba(40, 20, 84, 0.728)
}

.homepage p {
  font-family: var(--font);
  font-size: var(--fontsize);
  color: white;
  margin-top: 1.5rem;
}

.joblist {
  font-family: var(--font);
  font-size: var(--fontsize);
  color: white;
  background: transparent;
  border: none;
}

.apphistory {
  font-family: var(--font);
  font-size: var(--fontsize);
  color: white;
  background: transparent;
  border: none;
}


.docs {
  font-family: var(--font);
  font-size: var(--fontsize);
  color: white;
  background: transparent;
  border: none;
}


#navbar a {
  text-decoration: none;
  color: inherit;
}

#img {
  width: 300px;
  /* height: fill; */
}


