table {
    width: 80%;
    border-collapse: collapse;
    border: 3px solid rgba(40, 20, 84, 0.728);
  }
  
  th {
    padding: 20px;
    text-align: center;
    border: 2px solid;
    border-left: none;
    border-right: none;

    border-color: rgba(40, 20, 84, 0.728);
      
  }

  td {
    padding: 20px;
    text-align: center;
    border: 2px solid;  
    font-size: large;
    font: Serif;
    border-color: rgba(40, 20, 84, 0.728)
  }

  tr {
    font-size: large;
    border: 2px solid;
    font: Serif;
    border-color: rgba(40, 20, 84, 0.728)
  }
  